name: Build and Deploy Code

on: [push, pull_request] #happens on all push and pulls

# on:
    # push:
        # branches: ["main", "xxx"]
        #Or equivalently
        # branches:
            # - "main"
            #- "other branch"
    # pull_request: 

# env:  #this is global env for all the jobs 

jobs: 
    job1: 
        environment: 
            name: testing
        env:
            # DATABASE_HOSTNAME: ${{secrets.DATABASE_HOSTNAME}}
            DATABASE_HOSTNAME: 127.0.0.1
            DATABASE_PASSWORD: ${{secrets.DATABASE_PASSWORD}}
            DATABASE_USERNAME: ${{secrets.DATABASE_USERNAME}}
            DATABASE_NAME: ${{secrets.DATABASE_NAME}}
            DATABASE_PORT: ${{secrets.DATABASE_PORT}}
            SECRET_KEY: ${{secrets.SECRET_KEY}}
            ALGORITHM: ${{secrets.ALGORITHM}}
            ACCESS_TOKEN_EXPIRE_MINUTES: ${{secrets.ACCESS_TOKEN_EXPIRE_MINUTES}}
        services:
            postgres:
                image: postgres:latest
                env:
                    POSTGRES_PASSWORD: ${{secrets.DATABASE_PASSWORD}}
                    POSTGRES_DB: ${{secrets.DATABASE_NAME}}_test
                    POSTGRES_USER: ${{secrets.DATABASE_USERNAME}}           
                ports: 
                    - 5432:5432
                options: >-                                                                                                                                 
                    --health-cmd pg_isready                                                                                                                 
                    --health-interval 10s                                                                                                                   
                    --health-timeout 5s                                                                                                                     
                    --health-retries 5      
        runs-on: ubuntu-latest
        steps:
            - name: pulling git repo
              uses: actions/checkout@v6
            # - name: say hi to Zhihao
            #   run: echo "hello Zhihao"
            - name: Install latest python
              uses: actions/setup-python@v6
              with:
                python-version: '3.13' 
            - name: update pip
              run: python -m pip install --upgrade pip
            - name: install all dependencies
              run: pip install -r requirements.txt
            - name: test with pytest
              run: |
                pip install pytest
                pytest


#test